<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ready?</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>

<form action="/random" method="POST">
        <Button class="ready" formaction="/random"><h1>Are you up for the challenge?</h1></Button>
</form>

</body>
</html>